.MainContainer{
    margin-top: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    row-gap: 1.25rem;
    column-gap: 1rem;

    align-self: center;
}

.ButtonContainer{
    display: flex;
    justify-content: center;

    background:  linear-gradient(155.17deg, rgba(0, 255, 25, 0.1863) 6.54%, rgba(36, 255, 0, 0.27) 94.59%);
    border: 1px solid rgba(200, 245, 202, 0.82);

    width: 100%;
    max-width: 8rem;
    height: 12.5rem;

    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
}

/* Atom that signifies which element would this button add */
.Atom{
    align-self: center;
    
    width: 100px;
    height: 100px;

    transform:translate(0px, -42px);
}

.Atom div:first-child{
    font-size: 1.9rem;
    transform:translate(40px, 30px);
}


/* Container for all the actual buttons */
.InnerContainer{
    background: rgba(73, 129, 95, 0.56);

    height: 80%;
    width: 70%;

    align-self: center;
    
    border-radius: 20px;
}

/* Container for Vector1 that also is a button */
#Add1ButtonContainer{
    width: 60%;

    margin-top: 0.2rem;

    background: transparent;

    border: none;

    transform: translate(0px,100px);
}

/* Vector that signifies how many atoms would this button add */
.Add1Vector{
    position: relative;
    

    border-radius: 5px;
}

.Add1Vector:hover{
    cursor: pointer;

    background-color:  rgba(32, 121, 68, 0.123);
}

/* Container for Vector2 that also is a button */
#Add2ButtonContainer{
    position: relative;

    width: 40%;

    transform: translate(5px,70px);

    border: none;

    background: transparent;
}

/* Vector that signifies how many atoms would this button add */
.Add2Vector{
    position: relative;

    transform: translate(-3px);

    border-radius: 5px;
}

.Add2Vector:hover{
    cursor: pointer;

    background-color:  rgba(32, 121, 68, 0.123);
}

/* Media Queries */
@media screen and (max-width:500px){

    .ButtonContainer{
        background: none;

        border: none;

        box-shadow: none;

        max-width: 130px;
    }

    .MainContainer{
        background:  linear-gradient(155.17deg, rgba(0, 255, 25, 0.1863) 6.54%, rgba(36, 255, 0, 0.27) 94.59%);

        border: 1px solid rgba(200, 245, 202, 0.82);

        box-sizing: border-box;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

        border-radius: 24px;

        column-gap: 0px;

        width: 98%;

        margin-bottom: 1rem;
        padding-top: 1rem;
    }

    .Atom{
        transform: translate(0px, -50px)
    }

}

@media screen and (max-width:400px){

    .ButtonContainer{

        max-width: 130px;
        height: 10rem;
    }

    #Add1ButtonContainer{
        transform: translate(0px,70px);

    }

    #Add2ButtonContainer{
        transform: translate(0px,40px);

    }

    .Atom{
        transform: translate(0px, -50px);
        
        width: 90px;
        height: 90px;
    }

    .Atom div:first-child{
        font-size: 1.7rem;

        transform: translate(35px,25px);
    }

}

@media screen and (max-width:350px){

    .InnerContainer{
        border-radius: 12px;
    }

    .Atom{
        transform: translate(0px, -40px)
    }

    #Add1ButtonContainer{
        transform: translate(0px,80px);

    }

    #Add2ButtonContainer{
        transform: translate(0px,55px);

    }
}

/* Quick fixes */
@media screen and (min-width:1400px){
    .MainContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

