/* Css for generating the atoms shape */
#atom {
    width: 100px;
    height: 100px;
    
    position: absolute;

    border-radius: 50%;
  }

#atom::before{
    content: '';
    width: 0;
    height: 0;

    background: rgb(255, 255, 255);

    position: absolute;
    top: 30%;
    right: 30%;

    border-radius: 50%;
    box-shadow: 0 0 30px 10px rgb(255, 255, 255);
}

/* Text that appears on atom */
.text{
      font-size: 1.9rem;
      font-family: "PlayFair Display";
      font-weight: 600;
      color: whitesmoke;

      transform:translate(38px, 28px);

      user-select: none;
  }

.number{
  font-size: 1.3rem;
  font-family: "PlayFair Display";
  color: whitesmoke;

  transform: translate(60px,14px);

  user-select: none;
}