.BackButtonContainer{
    width: 100%;

    display: flex;
    justify-content: flex-end;
    position: relative;
}

.BackButtonSvg{
    width: 300px;
    height: auto;
}

.BackButton{

    font-family: "Playfair Display", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #383838;

    background-color: #C7FFC6;
    
    cursor: pointer;

    height: 3.5rem;
    width: 10rem;

    border: none;
    border-radius: 20px;
    box-shadow:4px 2px 4px 1px rgba(0, 0, 0, 0.25);
    z-index: 2;

    position: absolute;
    top: 25px;
    right: 45px;
}

.BackButton:hover{
    background-color: #a2d3a1;
}

@media screen and (max-width:1000px){
    .BackButtonSvg{
        width: 280px;
    }

    .BackButton{
        top: 25px;
        right: 35px;
    }
    
}

@media screen and (max-width:700px){
    .BackButtonSvg{
        width: 250px;
    }

    .BackButton{
        height: 3rem;
        width: 9rem;

        border-radius: 18px;

        font-size: 1.3rem;
    }
}

@media screen and (max-width:400px){
    .BackButtonSvg{
        width: 200px;
    }

    .BackButton{
        height: 2.8rem;
        width: 8rem;

        border-radius: 18px;

        font-size: 1.2rem;

        top: 15px;
        right: 20px;
    }
}

