/* Global Atom classes */
.Atom{
    width: 100px;
    height: 100px;
}
.AtomContainer{
    width: 100px;
    height: 100px;
}

/* Atom text and number size */
.Atom div:first-child{
    font-size: 1.9rem;
    transform:translate(38px, 28px);
}

.Atom div:last-child{
    font-size: 1.3rem;

    transform: translate(60px,14px)
}

/* Main Container */
.MainContainer{
    display: flex;
    flex-direction: column;
    
    background-color: white;
    
    height: 50rem;
}

/* Back button section */
.BackButtonContainer{
    width:273px;
    height:156px;

    position: absolute;

    align-self: flex-end;
}

.BackButtonSvg{
    z-index: -1;
}

.BackButton{
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 0.75rem;
    padding-bottom: 1rem;

    font-family: "Playfair Display", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #383838;

    background-color: #C7FFC6;

    position: relative;
    bottom: 140px;
    left: 70px;

    cursor: pointer;

    border: none;
    border-radius: 20px;
    box-shadow:4px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

.BackButton:hover{
    background-color: #a2d3a1;
}

/* Main Content section */
.MainContentContainer{
    width: 96%;
    
    align-self: center;
    
}

/* Assignment Buttons section */
.ButtonsContainer{
    display: flex;
    width: 96%;
}

.Button{
    font-family: "Play Fair Display";
    font-size: 2rem;
    color: #525151;

    padding-left: 3rem;
    padding-right: 2rem;

    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.41);

    position: relative;

    cursor: pointer;
}

/* Styling for individual buttons so the stack on each other */
#AssignmentButton1{
 z-index: 3;
 
}

#AssignmentButton2{
    z-index: 2;
    right: 45px;
}

#AssignmentButton3{
    z-index: 1;
    right: 90px;
}


/* Assignment text section*/
.AssignmentTextContainer{
    display: flex;

    
}

/* This text never changes (is static) */
.AssignmentText{
    font-size: 2rem;
    font-weight: 200;
    align-self: center;
    
    color: #474646;
    
    margin-top: 1rem;

    
    padding: 1rem;
    border-radius: 10px;
}

@keyframes loadingtext {
    0%{
        background-color: rgb(199, 197, 197);
        color: transparent;
    }    

    60%{

        color: transparent ;
    }

    100%{
        background-color: white;
        color: #474646;
    }
}

/* This text changes when changing assignments (is dynamic) */
.AssignmentTextNew{
    animation: loadingtext 1s ease-in;

    border-radius: 10px;

    padding: 0.5rem;
}

/* Main content section */
.MainContentDisplay{
    display: flex;
    flex-direction: column;

    height: 30rem;

    margin-top: 2rem;

    font-size: 2rem;

    background-color: rgb(226, 226, 226);

    border-radius: 10px;
    
    position: relative;
}

/* Main content display is divided into 2 sections */
/* First section of main content display */
.ChemElemContainer1{
    display: flex;
    flex-direction: column;

    height: 50%;
    
    border-bottom: 3px solid #C4C4C4;
}

/* Second section of main content display */
.ChemElemContainer2{
    display: flex;
    flex-direction: column;

    height: 50%;
}

/* Section and animations for when the evaluate button is clicked */
@keyframes Chem1_evaluated_anim {
    0%{
        opacity: 100%;
    }
    
    70%{
        opacity: 100%;
    }

    100%{
        opacity: 0%;
        transform: translate(0px,150px);
    }
}

#ChemElemContainer1_evaluated{
    opacity: 0;
    animation: Chem1_evaluated_anim 500ms;
}

@keyframes Chem2_evlaluated_anim {
    0%{
        opacity: 100%;
    }
    
    70%{
        opacity: 100%;
    }

    100%{
        opacity: 0%;
        transform: translate(0px,-150px);
    }
}

#ChemElemContainer2_evaluated{
    opacity: 0;
    animation: Chem2_evlaluated_anim 500ms;
}


/* Class that is applied to both First and Second section content */
.ChemElemContent{
    width: 90%;
    height: 90%;

    display: flex;
    align-self: center;
}


/* Number that signifies which sections is which */
.NumberOfContainer{
    color: #383838;

    width: 1.2rem;
    height: fit-content;

    border-radius: 2px;

    user-select: none;
}

#NumberOfContainerSelected{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 157, 255);
}

/* Chem Elements that appear in display containers */
@keyframes AtomAppearing {
    0%{
        opacity: 0;
        transform: translate(-10px);

    }

    100%{
        opacity: 100;
        transform: translate(0px);
        
    }
}

.UserAddedAtom{
    animation: AtomAppearing 1s;
    margin-left: 10%;
    
    
}


/* Check that appears when the Answer is correct */
@keyframes CheckAppearing {
    0%{
        transform: translate(0px, -70px);
        opacity: 0%;
    }

    

    100%{
        transform: translate(0px, 0px);
        opacity: 100%;
    }
    
}

.CorrectAnswerContainer{
    position: absolute;
    top: 100px;

    align-self: center;

    z-index: 1;

    opacity: 0%;
}

#CorrectAnswerContainer_visible{
    opacity: 100%;

    animation: CheckAppearing 750ms ease-out;
}

.CheckSvg{
    width: 15rem;
    height: 15rem;

    color: rgb(59, 152, 34);
}

.CrossSvg{
    width: 15rem;
    height: 15rem;

    color: rgb(219, 43, 33);
}

/* Input Section where everything that can interact with main content display is located */
.MainInputContainer{
    display: grid;
    grid-template-columns: 7fr 3fr;
    column-gap: 2rem;

    margin-top: 2rem;

    justify-self: center;
    align-self: center;
    
    width: 96%;
}

/* Input Content */

.AddElemContainer{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(9.5rem, 1fr));
    row-gap: 2rem;
    column-gap: 1.25rem;

    margin-top: 2rem;
}

/* Other buttons*/
.OtherButtonsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;
}

/* Button that select if you are adding to the first or second display content container */
.SelectContainerButtonContainer{
    display: flex;
    justify-content: center;

    width: fit-content;
    height: 4rem;

    background-color:rgba(220, 222, 223, 0.91);

    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

@keyframes changing-slider {
    0%{
        background-color: transparent;
        color: black;
    }

    100%{
        background-attachment: rgb(0, 157, 255);
    }
}

.SelectContainerButton1,.SelectContainerButton2{
    border: none;

    width: 6rem;

    font-size: 2rem;

    border-radius: 15px;
}

#SelectContainerButton1_checked,#SelectContainerButton2_checked{
    background-color: rgb(0, 157, 255);
    color: white;
    animation: changing-slider 500ms;
}


#SelectContainerButton1_unchecked,#SelectContainerButton2_unchecked{
    background-color: transparent;
    cursor: pointer;
}

/* Again and Evaluate buttons */
.FinalButtonsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.ButtonAgain,.ButtonEvaluate{
    width: 15rem;

    font-size: 2.5rem;
    font-weight: 100;
    font-family: "Roboto";
    color: white;

    border: none;
    border-radius: 10px;

    padding: 1rem 1rem 0.95rem 0.95rem;
    
    cursor: pointer;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.ButtonEvaluate{
    background: linear-gradient(92.77deg, rgba(86, 213, 241, 0.79) 0%, rgba(14, 120, 219, 0.85) 100%);
    
}

.ButtonEvaluate:hover,.ButtonEvaluate:active{
    background: linear-gradient(92.77deg, rgba(66, 167, 190, 0.79) 0%, rgba(11, 99, 181, 0.85) 100%) ;
}

.ButtonAgain{
    background: linear-gradient(92.53deg, #FC3838 3.34%, #FF8A00 97.64%);
}

.ButtonAgain:hover,.ButtonAgain:active{
    background: linear-gradient(92.53deg, #bc2323 3.34%, #c96e06 97.64%);
}

/* Media Queries for responsivity */

/* Tablet Version */
@media screen and (max-width:800px){
    .MainContentContainer{
        width: 98%;
        
    }

    .Atom,.AtomContainer{
        width: 70px;
        height: 70px;
    }

    .Atom div:first-child{
        font-size: 1.3rem;
        transform:translate(27px, 21px);
    }
    
    .Atom div:last-child{
        font-size: 1rem;
    
        transform: translate(45px,10px)
    }

    .ChemElemContainer1 .ChemElemContent{
        margin-top: 1rem;
    }

    .ButtonsContainer{
        margin-top: 2rem;
        
        width: 100%;
        
        
        
    }

    #AssignmentButton1{
        z-index: 3;
        
       }
       
       #AssignmentButton2{
           z-index: 2;
           right: 0px;
       }
       
       #AssignmentButton3{
           z-index: 1;
           right: 0px;
       }


    .Button{
        
        font-size: 1.4rem;
        height: 2.5rem;
        border-radius: 12px ;
        
        width: 100%;
        max-width: 10rem;
        
        
        
    }

    .AssignmentText{
        font-size: 1.5rem;
    }

    .MainInputContainer{
        display: grid;
        grid-template-columns: 1fr ;
        column-gap: 2rem;
    
        margin-top: 1rem;
    
        justify-self: center;
        align-self: center;
        
        width: 96%;
    }


    .AddElemContainer{
        grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
        column-gap: 1rem;
    }

    .OtherButtonsContainer{
        margin-top: 1rem;

        margin-bottom: 2rem;
        
    }

    .FinalButtonsContainer{
        
        width: 95%;
        max-width: 26rem;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fill,minmax(10rem,1fr));
    }

    .ButtonAgain,.ButtonEvaluate{
        margin: 0;
        width: 100%;
    }
    
}

/* Mobile Version */
@media screen and (max-width:450px){
    
}

/* Quick fixes */
@media screen and (max-width:1400px){
    .FinalButtonsContainer{
        display: flex;
        flex-direction: column;

        justify-content: space-evenly;

        margin-top: 2rem;
    }

    .ButtonEvaluate{
        margin-top: 2rem;
    }
    
}

@media screen and (max-width:1050px) {
    .UserAddedAtom{
        margin-left: 5%;
    }
}

@media screen and (max-width:799px) {
    .UserAddedAtom{
        margin-left: 8%;
    }
}

@media screen and (max-width: 650px){
    .UserAddedAtom{
        margin-left: 3%;
    }
}


