/* Flex Containers */
.MainContainer{
    min-height: 100%;

    display: grid;
    grid-template-rows: 3fr 7fr;

    background: url("../imgs/MainBg.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}    

.NavBarContainer{
    width: 100%;

    display: flex;
    flex-direction: column;
}

.ContentContainer{
    width: 100%;

    display: flex;
    align-items: flex-end;
}

.ButtonsContainer{
    display: flex;
    justify-content: space-around;

    margin-top: 2.5rem;
}

/* Buttons */
@keyframes QuizButtonLoading {
    0%{
        background-color: gray;
        color: transparent;
    }

    100%{
        background: radial-gradient(50% 50% at 50% 50%, rgba(204, 203, 203, 0.94) 0%, rgba(255, 255, 255, 0.7238) 100%);
    }
}

@keyframes ButtonLoading {
    0%{
        background-color: gray;
        color: transparent;
    }

    100%{
        background-color: rgba(236, 230, 230, 0.3);
    }
}

/* Quiz button */
.QuizButton{
    display: flex;
    justify-content: center;

    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;

    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    font-size: 2.25rem;

    background: radial-gradient(50% 50% at 50% 50%, rgba(204, 203, 203, 0.94) 0%, rgba(255, 255, 255, 0.7238) 100%);
    color: rgb(0, 0, 0);

    cursor: pointer;

    border: 1px solid rgba(236, 230, 230, 0.12);
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    animation: QuizButtonLoading 150ms;
}

.QuizButton:hover,.QuizButton:active{
    background: radial-gradient(50% 50% at 50% 50%, rgba(161, 160, 160, 0.94) 0%, rgba(197, 194, 194, 0.724) 100%);

    border: 1px solid rgba(149, 146, 146, 0.12);
}

/* Other buttons */
.OtherButton{
    
    font-family: "Playfair Display", sans-serif;
    font-weight: 300;
    font-size: 2.25rem;
    cursor: pointer;

    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 0.75rem;
    padding-top: 0.5rem;

    background-color: rgba(236, 230, 230, 0.3);
    color: rgb(243, 239, 239);

    border: 1px solid rgba(236, 230, 230, 0.12);
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    animation: ButtonLoading 150ms;
}

.OtherButton:hover, .OtherButton:active{
    background-color: rgba(161, 161, 161, 0.3);
}


/* Line below buttons */
.Line{
    height: 0.1rem;
    width: 92%;

    background-color: rgba(236, 230, 230, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin-top: 4rem;

    align-self: center;
}

/* Random fact that displays to the bottom of the page*/

@keyframes RandomFactLoading {
    0%{
        background-color: gray;
        color: transparent;
    }

    100%{
        background-color: rgba(255, 255, 255, 0.08);
    }
}

.RandomFact{
    font-weight: lighter;
    font-size: 2.25rem;
    
    width: fit-content;
    max-width: 70%;
    min-width: 200px;
    
    color: #D7D7D7;
    background-color: rgba(255, 255, 255, 0.08);
    
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 5px;

    margin-bottom:4%;
    
    animation: RandomFactLoading 1s;

    position: relative;
    
    left: -20px;

    border-radius: 15px;
    border: 1px solid rgba(236, 230, 230, 0.12);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
}

/* Media Queries */
/* Tablet Version */
@media screen and (max-width: 1000px){
    .ButtonsContainer{
        align-self: center;
        width: 90%;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 50px;
        
    }
     .OtherButton,.QuizButton{
         font-size: 2rem;
         
         padding-left: 0;
         padding-right: 0;
     }
     
     .RandomFact{
         font-size: 2.15rem;
     }
}

/* Mobile Version */
@media screen and (max-width: 700px){
    .ButtonsContainer{
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        width: 95%;
    }

    .OtherButton,.QuizButton{
        font-size: 1.55rem;
        border-radius: 10px;
    }

    #SourceButton{
        display: none;
    }

    .RandomFact{
        font-size: 1.7rem;
        margin-bottom: 10%;
    }

    .Line{
        margin-top: 5vh;
    }
    
}
