/* Flex Containers */
.MainContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;

    background: url("../imgs/MainBg.jpg") ;
    background-repeat: no-repeat;
    background-size:cover;
}

.MainContainer1{
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    width: 100%;
}

.ButtonsContainer{
    display: flex;
    justify-content: space-around;

    margin-top: 2.5rem;
}

/* Buttons */
/* Quiz button */
.QuizButton{
    display: flex;
    justify-content: center;

    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;

    font-weight: 600;
    font-size: 2.25rem;

    background: radial-gradient(50% 50% at 50% 50%, rgba(204, 203, 203, 0.94) 0%, rgba(255, 255, 255, 0.7238) 100%);
    color: rgb(0, 0, 0);

    cursor: pointer;

    border: 1px solid rgba(236, 230, 230, 0.12);
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.QuizButton:hover,.QuizButton:active{
    background: radial-gradient(50% 50% at 50% 50%, rgba(161, 160, 160, 0.94) 0%, rgba(197, 194, 194, 0.724) 100%);
    border: 1px solid rgba(149, 146, 146, 0.12);
}

/* Other buttons */
.OtherButton{
    display: flex;
    justify-content: center;

    font-weight: 300;
    font-size: 2.25rem;
    cursor: pointer;

    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 0.75rem;
    padding-top: 0.5rem;


    background-color: rgba(236, 230, 230, 0.3);
    color: rgb(243, 239, 239);

    border: 1px solid rgba(236, 230, 230, 0.12);
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.OtherButton:hover, .OtherButton:active{
    background-color: rgba(161, 161, 161, 0.3);
}

/* Line below buttons */
.Line{
    height: 0.1rem;
    width: 92%;

    background-color: rgba(236, 230, 230, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin-top: 4rem;

    align-self: center;
}

/* Random fact that displays to the bottom of the page*/

@keyframes RandomFactLoading {
    0%{
        background-color: gray;
        color: transparent;
    }

    100%{
        background-color: rgba(255, 255, 255, 0.08);
    }
}

.RandomFact{
    font-weight: lighter;
    font-size: 2.25rem;
    
    width: fit-content;
    max-width: 70%;
    
    
    color: #D7D7D7;
    background-color: rgba(255, 255, 255, 0.08);

    margin-bottom: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 5px;

    animation: RandomFactLoading 500ms;

    position: absolute;
    top: 70%;
    left: -20px;

    border-radius: 15px;
    border: 1px solid rgba(236, 230, 230, 0.12);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
}

/* Media Queries */
@media screen and (max-width:950px){
    .QuizButton,.OtherButton{
        font-size: 2.5rem;
    }

    .RandomFact{
        font-size: 4vh;
    }
}

@media screen and (max-width:850px){
    .QuizButton,.OtherButton{
        padding: 0.5rem 5vw 0.5rem 5vw;

        font-size: 2.5rem;

        border-radius: 12px;
    }
    .QuizButton{
        padding: 0.5rem 6vw 0.5rem 6vw;
    }

    .Line{
        margin-top: 2rem;
    }
    .RandomFact{
        max-width: 80%;

        font-size: 4vh;
    }
}

@media screen and (max-width:650px){
    .QuizButton,.OtherButton{
        padding: 0.5rem 5vw 0.5rem 5vw;

        font-size: 3.5vh;

        border-radius: 10px;
    }
    .QuizButton{
        padding: 0.5rem 6vw 0.5rem 6vw;
    }

    .Line{
        margin-top: 2rem;
    }
    .RandomFact{
        max-width: 80%;

        font-size: 4vh;
    }
}



@media screen and (max-width:450px){
    .QuizButton,.OtherButton{
        padding: 0.5rem 5vw 0.5rem 5vw;

        font-size: 3.5vh;

        border-radius: 8px;
    }
    .QuizButton{
        padding: 0.5rem 7.5vw 0.5rem 7.5vw;
    }

    .Line{
        margin-top: 1.25rem;
    }

    .RandomFact{
        max-width: 85%;

        font-size: 3.5vh;
    }
}

@media screen and ((max-width:450px) and (max-height: 950px )){
    .QuizButton,.OtherButton{
        font-size: 3vh;

        border-radius: 12px;
    }

    .RandomFact{
        top: 60%;

        font-size: 2.2rem;
    }

}

@media screen and (max-width:380px) and (max-height: 680px ){
    .QuizButton,.OtherButton{
        font-size: 3.5vh;

        border-radius: 12px;
    }

    .RandomFact{
        top: 65%;

        font-size: 4.75vh;
    }

}

