.MainContainer{
    display: flex;
    flex-direction: column;

    height: fit-content;
}

.MainContentContainer{
    display: flex;

    flex-direction: column;

}

.MainContentContainer header{
    margin-top: 1rem;
    padding-bottom: 1rem;

    font-family: "PlayFair Display";
    font-weight: 200;
    font-size: 2.5rem;
    color: rgb(49, 47, 47);

    border-bottom: 1px solid rgb(177, 177, 177);
}

